.App {
  text-align: center;
}

body{
  /* background-color: blueviolet; */
}
header{
  background-color:hotpink;
  padding: 5px;
  border-bottom: 2px solid brown;
  color:lightblue;
  text-align: center;
}
.image-area {
  width: 200px;
  height: 200px;
  margin: 50px auto;
}











h6.card-subtitle.text-muted {
  display: flex;
  justify-content: center;
  align-items: center;
}

p.card-text {
  margin-bottom: 5px;
}
i.fas.fa-phone-alt {
  font-size: 15px !important;
  padding-right: 6px;
  font-weight: 600;
}
.totalSalary {
  max-width: 320px;
  right: 0;
  margin-top: 20px;
  position: fixed;
}